@media only screen and (max-width: 768px)
{
	body
	{
		text-align:										center;
	}

	header
	{
		display:										block;
	}

	.position-content
	{
		display:										block;
		margin:											20px;
		padding:										0px;
	}

	.logo-img
	{	
		width:											auto;
		margin:											50px;
	}

	footer
	{
		position:										static;
	}
}