body
{
	padding:										0px;
	margin: 										0px;
	font-family:									"Arial", sans-serif;
	font-size:										16px;
	color: 											#6957C7;
}

header
{
	padding:										15px;
	background-color:								#330066;
	box-shadow:										0 0 10px rgba(0,0,0,0.5);
	display:										flex;
	justify-content: 								center;
}

.logo-text, .button-theme, .button-open-projects
{
	font-weight: 									bold;
	color: 											#6957C7;
	font-size:										35px;
	margin-left:									30px;
	margin-right:									30px;
}

.logo-text:hover, .button-theme:hover, .button-open-projects:hover
{
	color: 											#9FA0DF;
}

.button-theme, .button-open-projects
{
	background-color:								#330066;
	border:											none;
	outline:										none;
}

.position-content
{
	display:										flex;
	margin: 										50px;
}

.logo-img
{

}

.content-about-me
{
	font-size:										18px;
	margin: 										50px;
}

footer
{
	position:										absolute;
	padding:										15px;
	background-color:								#330066;
	box-shadow:										0 0 10px rgba(0,0,0,0.5);
	display:										flex;
	justify-content: 								center;
	bottom:											0;
	width:											100%;
}

.light-theme
{
	background-color:								#330066;
}

.dark-theme
{
	background-color:								#0F0F2E;
}

/* ================================ Other ==================================== */

.link-no-line
{
	color: 											#6957C7;
	text-decoration:								none;
}

.link-no-line:hover
{
	color: 											#9FA0DF;
}

/* ============================== Animation ================================== */

.animation-content:hover
{
	animation-name: 								animation-content;
	animation-duration: 							2s;
	animation-iteration-count: 						infinite;
}

@keyframes animation-content
{
	0% { transform:									skew(0deg) }
	25% { transform:								skew(0.3deg, 0.3deg) }
	50% { transform:								skew(0deg) }
	75% { transform:								skew(-0.3deg, -0.3deg) }
	100% { transform:								skew(0deg) }
}