body
{
	background-color:                            MidnightBlue;
	padding:                                     0px;
	margin:                                      0px;
	font-family:                                 "Arial", sans-serif;
	text-shadow:                                 0 2px 2px black; /* Тени */
}

/* Основа нацигации */
.topnav
{
	text-align:                                  center;
}

/* Стиль ссылок внутри панели навигации */
.topnav a
{
    color:                                       white;
	opacity:                                     35%;
    font-size:                                   20px;
    text-decoration:                             none; /* Убирает линию под текстом ссылки*/
    padding:                                     5px 20px 5px 20px; /* Растояние между кнопками навигации */
}

/* Изменить цвет ссылок при наведении */
.topnav a:hover
{
    background-color:                            RoyalBlue;
	opacity:                                     35%; /* Прозачность */
    color:                                       white;
}

/* Добавьте цвет к активной / текущей ссылке */
.topnav a.active
{
    background-color:                            RoyalBlue;
    color:                                       white;
	opacity:                                     35%;
}

.FayrushinFadis
{
	color:                                       DarkBlue;
	text-align:                                  center;
	text-shadow:                                 SteelBlue 0 0 10px; /* Создает размытие вокруг загаловка */
}

/* Анимация в элементе div */
.divAnimation
{
	margin-bottom: 1600px;
	padding: 1600px;
	animation-name: divAnimation;
	animation-duration: 1s;
	animation-delay: -600ms;
	animation-timing-function: linear; /* Кривая скорости анимации */
	animation-fill-mode: forwards;
}

/* Анимация для элемента div */
@keyframes divAnimation
{
	0% {margin-bottom: 1600px; padding: 1600px;}
	20% {margin-bottom: 1200px; padding: 1200px;}
	40% {margin-bottom: 800px; padding: 800px;}
	60% {margin-bottom: 400px; padding: 400px;}
	80% {margin-bottom: 200px; padding: 200px;}
	100% {margin-bottom: 0px; padding: 0px;}
}

.blockHomeProject
{
	padding:                                     100px; /* Создание блока */
	background-color:                            MidnightBlue;
	box-shadow:                                  0 0 2px black;
	color:                                       #666666; /* Цвет текста */
	margin-top:                                  35px; /* Сжатие блока сверху и снизу*/
}

.NoLinkDecoration
{
	text-decoration:                             none;
	color:                                       purple;
	opacity:                                     60%;
}

.NoLinkDecoration:hover
{
	color:                                       MediumPurple;
	opacity:                                     35%;
}

.buttonBlackTheme
{
	background-color:                            black;
	color:                                       white;
	border:                                      none; /* Все свойства границ вместе: border-width, border-style, border-color. */
    cursor:                                      pointer; /* Курсор мыши над элементом. */
    margin:                                      5px;
    padding:                                     5.5px; /* Размер кнопки */
    border-radius:                               7px;
    box-shadow:                                  0px 0px 3px black; /* Тени от блока */
	float:                                       right; /* Местонахождение */
	opacity:                                     35%;
}

.buttonWhiteTheme
{
	background-color:                            white;
	color:                                       black;
	border:                                      none; /* Все свойства границ вместе: border-width, border-style, border-color. */
    cursor:                                      pointer; /* Курсор мыши над элементом. */
    margin:                                      5px;
    padding:                                     5px; /* Размер кнопки */
    border-radius:                               7px;
    box-shadow:                                  0px 0px 3px white; /* Тени от блока */
	float:                                       right; /* Местонахождение */
	opacity:                                     35%;
}

footer
{
	color:                                       white;
	text-align:                                  center;
	margin-top:                                  250px;
	padding-top:                                 30px;
	padding-bottom:                              1px;
	box-shadow:                                  0 0 2px black;
	background-color:                            RoyalBlue;
	opacity:                                     25%; /* Прозачность */
}

.footerLink
{
	display:                                     inline-block;
}